services:
  pikaraoke:
    image: vicwomg/pikaraoke:latest
    container_name: PiKaraoke
    ## Below Host network mode may work better on some systems and replace manual IP configuration. Does not work on OSX
    # network_mode: host
    environment:
      ## Set your public URL/IP address for the QR code and splash screen
      ## Include the port if not using port 80
      PUBLIC_URL: "http://<YOUR_PUBLIC_IP_OR_HOSTNAME>:5555"
    volumes:
      - </PATH/TO/LOCAL/SONGS/DIR>:/app/pikaraoke-songs # Replace with local dir. to persist songs outside the container
    restart: unless-stopped
    ## Forward host port 5555 to the pikaraoke web interface on 5555
    ports:
      - "5555:5555"
